<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason.exchange.biz.mapper.CoinExchangeMapper">

<!--    <resultMap id="coinExchangeMap" type="com.jason.exchange.biz.po.CoinExchangePo">-->
<!--        <id column="id" property="id" javaType="long" jdbcType="BIGINT"/>-->
<!--        <result column="name" property="name" javaType="string" jdbcType="VARCHAR"/>-->
<!--        <result column="spot" property="spot" javaType="boolean" jdbcType="TINYINT"/>-->
<!--        <result column="usd_future" property="usdFuture" javaType="boolean" jdbcType="TINYINT"/>-->
<!--        <result column="coin_future" property="coinFuture" javaType="boolean" jdbcType="TINYINT"/>-->
<!--        <result column="option" property="option" javaType="boolean" jdbcType="TINYINT"/>-->
<!--    </resultMap>-->


    <insert id="addQuarter">
        INSERT INTO
            `quarter`(`year`,`quarter`,`details`)
        VALUES
            ('${q.year}','${q.quarter}','${q.details}')
    </insert>
    <insert id="addFinanceFile">
        INSERT INTO
            `financial_report`(`quarter_id`,`title`,`file_url`)
        VALUES
            ('${id}','${title}','${url}')
    </insert>
    <insert id="addFavoriteFile">
        INSERT INTO
            `favorite_files`(`user_id`,`financial_report_id`)
        VALUES
            ('${userId}','${financialId}')
    </insert>
    <insert id="addNews">
        INSERT INTO
            `articles`(`admin_id`,`title`,`cover_url`,`content`)
        VALUES
            ('${userId}','${title}','${url}','${content}')
    </insert>

    <insert id="addNewsLike">
        INSERT INTO
            `article_likes`(`user_id`,`article_id`)
        VALUES
            ('${userId}','${newsId}')
    </insert>
    <insert id="addStock">
        INSERT INTO `stock`(`symbol`,`code`)
        VALUES ('${symbol}','${code}')
    </insert>
    <update id="upUserDisabled">
        UPDATE `user` SET `enabled` = 0 WHERE `id` = '${userId}';
    </update>
    <update id="upUserEnabled">
        UPDATE `user` SET `enabled` = 1 WHERE `id` = '${userId}';
    </update>

    <delete id="delFavoriteFile">
        DELETE FROM `favorite_files` WHERE `user_id` = '${userId}' AND `financial_report_id` = '${fid}'
    </delete>
    <delete id="delNewsLike">
        DELETE FROM `article_likes` WHERE `user_id` = '${userId}' AND `article_id` = '${newsId}'
    </delete>
    <delete id="delNews">
        DELETE FROM `articles` WHERE  `id` = '${newsId}'
    </delete>
    <delete id="delStock">
        DELETE FROM `stock` WHERE  `id` = '${id}'
    </delete>

    <select id="getQuarter" resultType="com.jason.exchange.biz.po.QuarterPo">
        SELECT * FROM `quarter`
    </select>
    <select id="getFinance" resultType="com.jason.exchange.biz.po.FinancePo">
        SELECT * FROM `financial_report` WHERE `quarter_id` = '${id}'
    </select>
    <select id="getFavoriteFile" resultType="com.jason.exchange.biz.po.FavoriteFilesPo">
        SELECT `id`,`user_id`,`financial_report_id` FROM `favorite_files` WHERE `user_id` = '${userId}'
    </select>
    <select id="getNews" resultType="com.jason.exchange.biz.po.NewsPo">
        SELECT * FROM `articles`
    </select>
    <select id="getUserInfo" resultType="com.jason.exchange.biz.po.UserInfoPo">
        SELECT
            u.id,
            username,
            portrait_image
        FROM
            `user` AS u
                LEFT JOIN `user_info` AS ui ON u.id = ui.user_id
        WHERE
            u.id = '${userId}'
    </select>
    <select id="getNewsLike" resultType="java.lang.Long">
        SELECT `user_id` FROM `article_likes` WHERE `article_id` = '${newsId}'
    </select>
    <select id="getSearchNews" resultType="com.jason.exchange.biz.po.NewsPo">
        SELECT * FROM `articles` WHERE `content` LIKE '%${keywords}%'
    </select>
    <resultMap id="userInfoMap" type="com.jason.exchange.biz.po.UserInfoPo">
        <id column="id" property="id" javaType="long" jdbcType="BIGINT"/>
        <result column="username" property="username" javaType="string" jdbcType="VARCHAR"/>
        <result column="email" property="email" javaType="string" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" javaType="string" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" javaType="boolean" jdbcType="TINYINT"/>
        <result column="account_locked" property="accountLocked" javaType="boolean" jdbcType="TINYINT"/>
        <result column="account_expired" property="accountExpired" javaType="boolean" jdbcType="TINYINT"/>
        <result column="credentials_expired" property="credentialsExpired" javaType="boolean" jdbcType="TINYINT"/>
        <result column="portrait_image" property="portraitImage" javaType="string" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" javaType="string" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" javaType="string" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" javaType="long" jdbcType="BIGINT"/>
        <result column="recently_time" property="recentlyTime" javaType="long" jdbcType="BIGINT"/>
        <result column="province" property="province" javaType="int" jdbcType="INTEGER"/>
        <result column="birth" property="birth" javaType="string" jdbcType="VARCHAR"/>
        <collection property="roles" column="id" javaType="list" ofType="com.jason.exchange.biz.po.RolePo" select="getUserRoleById"/>
    </resultMap>
    <resultMap id="roleMap" type="com.jason.exchange.biz.po.RolePo">
        <id column="id" property="id" javaType="long" jdbcType="BIGINT"/>
        <result column="name" property="name" javaType="string" jdbcType="VARCHAR"/>
        <result column="name_zh" property="nameZH" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserRoleById" resultMap="roleMap">
        SELECT
            r2.id,
            r2.name,
            r2.name_zh
        FROM
            `user_role_rel` AS r1
                LEFT JOIN `role` AS r2 ON r1.role_id = r2.id
        WHERE
            r1.user_id = '${id}'
    </select>
    <select id="getAllUserInfo" resultMap="userInfoMap">
        SELECT
            u.id,
            username,
            email,
            phone,
            enabled,
            account_locked,
            account_expired,
            credentials_expired,
            portrait_image,
            introduction,
            sex,
            create_time,
            recently_time,
            province,
            birth
        FROM
            `user` AS u
                LEFT JOIN `user_info` AS ui ON u.id = ui.user_id
    </select>

    <select id="searchUser" resultMap="userInfoMap">
        SELECT
            u.id,
            username,
            email,
            phone,
            enabled,
            account_locked,
            account_expired,
            credentials_expired,
            portrait_image,
            introduction,
            sex,
            create_time,
            recently_time,
            province,
            birth
        FROM
            `user` AS u
                LEFT JOIN `user_info` AS ui ON u.id = ui.user_id
        WHERE `username` LIKE '%${username}%'
    </select>
    <select id="getStock" resultType="com.jason.exchange.biz.po.StockPo">
        SELECT * FROM `stock`
    </select>
</mapper>